<div class="login-container">
  <div class="login-card">
    <div class="logo-circle">
<img src="assets/55283.png" alt="logo" />

    </div>

    <h2 class="title">Login Page</h2>

    <!-- Username -->
    <input
      type="text"
      [(ngModel)]="username"
      placeholder="Enter your username"
    />

    <!-- Password -->
    <div class="password-wrapper">
      <input
        [type]="isObscured ? 'password' : 'text'"
        [(ngModel)]="password"
        placeholder="Enter your password"
      />
      <button type="button" class="eye-btn" (click)="toggleVisibility()">
        {{ isObscured ? '👁️‍🗨️' : '👁️' }}
      </button>
    </div>

    <!-- Login button -->
    <button class="login-btn" (click)="login()">LOGIN</button>
  </div>

  <p class="footer">&#64;eCar Admin Panel</p>
</div>
